<div>
  <table>
    <tr>
      <td width="300px">[Logo (noch zu definieren)]</td>
      <td><h1 id="title">bcMaster: Bitcoin Trading Client</h1></td>
    </tr>
  </table>
</div>

<div id="title-image">
  <%= link_to image_tag("bitcoin.jpg", :alt => "Bitcoin Image", :size => "250x188", :title => "Quelle: https://traxarmstron g.com/igmarket-australias-1-cfd-and-fx-provider-to-start-bitcoin-trading"), "https://traxarmstrong.com/igmarket-australias-1-cfd-and-fx-provider-to-start-bitcoin-trading", :target => "_blank" %>
</div>

<div id="login">
  <p id="login-label">Please enter your API Key and your Secret Key of <a href="https://btc-e.com">btc-e.com</a>:</p>
  <%= form_tag(controller: 'login', action: 'login', method: 'post', id: 'login-form') do %>
    <%= text_field_tag(:apikey, nil, placeholder: 'API-Key') %><br>
    <%= password_field_tag(:password, nil, placeholder: 'Secret') %><br>
    <%= submit_tag('Login') %>
  <% end %>
</div>

